.myCard {
    border: 5px  ;
    border-radius: 8rem;
    width: 50rem; 
    height:35rem;
    text-align: center; 
    margin: 7% auto;
    background-image: radial-gradient(circle, #cbd16b, #d3cd6e, #daca73, #dfc778, #e3c47e, #e6c07c, #e9bb7a, #ebb779, #efaf70, #f3a669, #f79c63, #fb925f);
}
.myobject{
    margin:  auto;
}

body {
    background-image: linear-gradient(to right top, #cbd16b, #d3cd6e, #daca73, #dfc778, #e3c47e, #e6c07c, #e9bb7a, #ebb779, #efaf70, #f3a669, #f79c63, #fb925f);
}

.button {
    display: inline-block;
    border-radius: 2rem;
    background-color: #851ef4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 7rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  